html
 head
  title mesh help
  style body{padding:10 0 0 20;} p{padding-left:20px;}
  script(src="../jquery-1.8.0.min.js")
  script(src="../jquery-ui-1.8.23/js/jquery-ui-1.8.23.custom.min.js")
  script(src="../jsonp.js")
  link(rel="stylesheet")(href="../jquery-ui-1.8.23/css/cupertino/jquery-ui-1.8.23.custom.min.css")(type="text/css")
 body
  h2 jsonp测试
  p 输入要查询的主题词:
   input(id="jsonp")(style="width:200px")
  h2 example：
  h2
   p
    a(href="tree/Anatomy") Anatomy

