html
 head
  title login
  meta(charset="utf-8")
  link(rel="stylesheet")(href="../bootstrap/css/bootstrap.min.css")(type="text/css")
 body
  center
   div.container(style="margin-top:150px")
    form.well.form-inline(action='login')(method='post')(style="width:280px;")
     label username:
     input(name="username")(type="text")(value="admin")
     br
     label password:
     input(name="password")(type="password")(value="kingyee")
     br
     input.btn(type="submit")(value="login")